body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: disc;
    display: flex;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.nav {
    border-bottom: 1px solid #e7e9fc;
}

.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px 0 15px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    background-color: #ffffff;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    padding: 24px 0px;
    margin-right: 76px;
}

.header-logo .logo-accent {
    color: #2e2f42;
}

.header-logo .logo-accent:hover,
.header-logo .logo-accent:active {
    color: #404bbf;
}

.nav-list,
.address-list {
    display: flex;
    gap: 40px;
}

.nav-item {
    display: flex;
}

.nav-link {
    color: #2e2f42;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding: 24px 0;
}

.nav-link:hover {
    color: #404bbf;
}

.nav-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-item {
    color: #434455;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 24px 0;
}

.address-list:not(:last-child) {
    margin-right: 40px;
}

.address-link{
    color: #434455;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    height: 600px;
    padding: 188px 0;

}

.hero-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    max-width: 496px;
    margin: 0px auto 48px auto;
}

.hero-btn {
    color: #ffffff;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;        
    letter-spacing: 0.04em;
    line-height: 1.5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px auto;
}

.hero-btn:hover,
.hero-btn:focus{
    background-color: #404bbf;
    cursor: pointer;
}

.benefits {
    background-color: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.benefits-item {
    width: calc((100% - 72px) / 4);
}

.benefits-subtitle {
    color: #2e2f42;    
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
}

.benefits-text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;         
}

.team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}

.team-card {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-name {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 8px;
}

.team-position {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-align: center;
}

.portfolio {
    background-color: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc( (100% - 48px) / 3);
}

.portfolio-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-name {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
}

.portfolio-description {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    align-items: baseline;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo,
.footer-logo-accent {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    display: inline-block;
}

.footer-logo-accent {
    color: #f4f4fd;
}

.footer-logo-accent:hover,
.footer-logo-accent:active {
    color: #404bbf;
}

.footer-text {
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    max-width: 264px;
}

